.modal__overlay {
  background-color: rgba(39, 42, 47, .95) !important;
}

.modal__close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 4.5vw;
  top: 3vw;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: $contentText;
    transition: .2s ease all;
  }
  &:before {
    transform: translateY(10px) rotate(45deg);
  }
  &:after {
    transform: translateY(8px) rotate(-45deg);
  }
  &:hover {
    &:hover {
      &:before,
      &:after {
        background-color: #fff;
      }
    }
  }
}

.modal {
  max-width: 1220px !important;
  width: 90% !important;
  > div {
    width: 100%;
    position: absolute !important;
    left: 50%;
    top: 50%;
    font-family: $roboto !important;
    box-shadow: none !important;
    background-color: transparent !important;
    transform: translate(-50%, -50%) !important;
    > div {
      color: #fff !important;
      max-height: initial !important;
      padding: 0 !important;
    }
  }
  &.modal-deposit {
    max-width: 800px !important;
  }
  &.modal-without_pad {
    > div > div {
      padding: 0 !important;
    }
  }
  &__header {
    text-align: center;
    font-size: 3.6rem;
    padding: 5.5rem 0;
  }
}