.modal-content {
  .modal__header {
    padding: 5.5rem 0 3rem;
  }
  h2 {
    font-size: 2.4rem;
    margin: 2.3rem 0 2.7rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
  }
  .button {
    text-transform: uppercase;
    display: block;
    margin: 6rem auto 0;
  }
}