.button {
  color: #fff;
  background-color: $main;
  font-family: $roboto;
  font-size: 18px;
  &:disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
    }
  }
  &-signIn {
    background-position: 0 10px;
    background-repeat: no-repeat;
  }
  &-gray {
    background-color: $contentBg;
  }
}

.button {
  &:hover {
  }
  &:active {
  }
}