.button {
  color: #fff;
  background-color: $main;
  font-family: $roboto;
  font-size: 18px;
  text-align: center;
  &:disabled {
    cursor: not-allowed;
    &:hover,
    &:active {
    }
  }
  &-signIn {
    background-position: 0 10px;
    background-repeat: no-repeat;
  }
  &-gray {
    background-color: $contentBg;
  }
  &-green {
    background-color: $green;
  }
  &-pink {
    background-color: $pink;
  }
  &-gray {
    background-color: $headerBg;
  }
}

.button {
  &:hover {
    text-decoration: none;
  }
  &:active {
  }
}