.button {
  color: #fff;
  width: 100%;
  background-color: $main;
  font-family: $roboto;
  font-size: 1.8rem;
  text-align: center;
  height: 5.7rem;
  line-height: 5.7rem;
  max-width: 300px;
  transition: .2s ease all;
  &:disabled {
    cursor: not-allowed;
    opacity: .3;
    &:hover,
    &:active {
    }
  }
  &:hover,
  &:focus {
    background-color: darken($main, 10);
  }
  &-gray {
    background-color: $contentBg;
    &:hover,
    &:focus {
      background-color: darken($contentBg, 10);
    }
  }
  &-green {
    background-color: $green;
    &:hover,
    &:focus {
      background-color: darken($green, 10);
    }
  }
  &-pink {
    background-color: $pink;
    &:hover,
    &:focus {
      background-color: darken($pink, 10);
    }
  }
  &-gray {
    background-color: $headerBg;
  }
}

.button {
  &:hover {
    text-decoration: none;
  }
  &:active {
  }
}

.button-border {
  color: #fff;
  min-width: 8rem;
  height: 2.8rem;
  border-radius: 1.4rem;
  font-size: 1.4rem;
  border: 1px solid #6b717a;
  font-family: $roboto;
  font-weight: 400;
  transition: .2s ease all;
  &:hover,
  &:focus {
    background-color: #6b717a;
  }
}