.input-float {
  position: relative;
  margin-top: 4.1rem;
  background-color: $navBg;
  z-index: 1;
  input,
  textarea {
    width: 100%;
    border: 1px solid #575c63;
    -webkit-appearance: none;
    transition: .2s ease all;
    background-color: transparent;
    z-index: 2;
    &:hover,
    &:focus {
      border: 1px solid $main;
    }
  }
  input {
    height: 4.5rem;
    padding: 0 1.5rem;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
  }
  textarea {
    color: $contentText;
    padding: 1.5rem;
    height: 26rem;
    resize: none;
    overflow: hidden;
    font-weight: 300;
  }
  label {
    color: $contentText;
    font-size: 1.8rem;
    letter-spacing: 1px;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    z-index: -1;
    transition: .2s ease all;
  }
  &.invalid label,
  &.valid label,
  input:valid + label,
  input:focus + label,
  textarea:valid + label,
  textarea:focus + label {
    color: #fff;
    top: -2.4rem;
    left: 0;
    font-size: 1.6rem;
  }
  &-textarea {
    height: 26rem;
  }
  &.valid {
    &:after {
      content:'\0044';
      top: 50%;
      right: 22px;
      color: $green;
      font-family: 'blaze icons';
      position: absolute;
      transform: translateY(-50%);
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}