.select {
  cursor: pointer;
  .Select-control {
    color: #fff;
    font-size: 1.6rem;
    font-family: $robotoC;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid transparent !important;
    .Select-input:focus {
      background: #575c63;
    }
  }
  &.is-focused {
    > .Select-control {
      border-color: transparent !important;
      background: transparent !important;
      box-shadow: none !important;
    }
  }
  &.is-open {
    > .Select-control {
      border: 1px solid #575c63 !important;
      background: #575c63 !important;
      box-shadow: none !important;
    }
    .Select-arrow-zone {
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
  &.has-value.Select--single > .Select-control .Select-value .Select-value-label,
  &.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #fff !important;
  }
  .Select-menu-outer {
    background: $navBg !important;
    border-radius: 0 !important;
    border: 1px solid #575c63 !important;
  }
  .Select-arrow-zone {
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      background-color: #fff;
      position: absolute;
      top: 50%;
      width: 7px;
      height: 1px;
      transition: .2s ease all;
    }
    &:before {
      left: -1.5px;
      transform: rotate(45deg);
    }
    &:after {
      left: 3px;
      transform: rotate(-45deg);
    }
  }
  .Select-arrow {
    border: none;
    height: 100%;
    width: 100%;
  }
  .Select-input {
    display: none !important;
  }
}

.select__options {
  color: #fff !important;;
  font-size: 1.6rem !important;
  font-family: $roboto !important;
  background: $navBg !important;
  position: relative;
  border-radius: 0!important;
  transition: .2s ease all;
  &:not(:first-child):before {
    content: '';
    width: 80%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 10%;
    display: block;
    opacity: 1;
    background-color: $selectBg;
    transition: .2s ease all;
  }
  &:hover {
    background: $selectBg !important;
  }
}