.chat {
  min-width: 31%;
  flex-basis: 31%;
  position: relative;
  &__header {
    font-size: 2.4rem;
    background-color: $headerBg;
    height: 5.7rem;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    h2 {
      min-width: 62%;
      flex-basis: 62%;
      line-height: 5.7rem;
      text-transform: uppercase;
    }
    .select {
      min-width: 38%;
      flex-basis: 38%;
      background-color: $navBg;
      &:hover {
        background-color: $selectBg;
      }
      .Select-control {
        height: 100%;
      }
      .select__options {
        height: 4.5rem;
        line-height: 4.5rem;
        &:before {
          width: 82%;
          left: 9%;
        }
        &:hover:before {
          display: none;
        }
        &:hover + .select__options:before {
          opacity: 0;
        }
      }
    }
  }
  &__room {
    height: 100%;
    padding: 0 20% 0 4%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:last-child {
      color: $green;
      &.empty {
        color: #e91717;
      }
    }
  }
  &__wrapper {
    padding: 2rem 0;
    background-color: $contentBg;
  }
  &__message {
    padding-left:2rem;
    margin-bottom: 1.1rem;
    position: relative;
    .avatar {
      min-width: 2.4rem;
      height: 2.4rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
    .name {
      padding: 0 1.2rem 0 0;
      max-width: 300px;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
      &:after {
        content: ": ";
      }
    }
    .message {
      font-weight: 300;
      color: $contentText;
      word-wrap: break-word;
      word-break: break-word;
    }
    &.user {
      cursor: pointer;
      &.open {
        display: block;
        .chat__dropdown {
          opacity: 1;
          transform: rotateX(0deg);
          transform-origin: top;
        }
      }
    }
  }
  &__dropdown {
    top: 3rem;
    left: 20px;
    z-index: 2;
    font-size: 1.4rem;
    padding: 10px 20px;
    opacity: 0;
    position: absolute;
    background-color: $headerBg;
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: .2s ease all;
    li {
      color: $contentText;
      &:hover {
        color: #fff;
      }
    }
  }
  &__textarea {
    min-height: 8.8rem;
    border: 1px solid $selectBg;
    background-color: $navBg;
    display: flex;
    margin: 0 2rem;
    input {
      width: 100%;
      color: #fff;
      font-family: $roboto;
      font-weight: 300;
      min-width: calc(100% - 50px);
      flex-basis: calc(100% - 50px);
      background-color: transparent;
      padding: 1.7rem 2rem;
      letter-spacing: 1px;
      overflow: hidden;
      border: none;
      resize: none;
    }
  }
  &__buttons {
    min-width: 50px;
    flex-basis: 50px;
    padding-top: 3.4%;
    position: relative;
    &:before {
      content: '';
      display: block;
      height: 68%;
      width: 1px;
      position: absolute;
      left: 0;
      bottom: 10%;
      background-color: $selectBg;
    }
    button {
      width: 100%;
      text-align: center;
      i {
        color: $selectBg;
        font-size: 25px;
        transition: .2s ease all;
      }
      &:hover {
        i {
          color: #fff;
        }
      }
    }
  }
}