.chat {
  min-width: 31%;
  flex-basis: 31%;
  &__header {
    font-size: 2.4rem;
    background-color: $headerBg;
    height: 5.7rem;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    h2 {
      line-height: 5.7rem;
      text-transform: uppercase;
    }
    .select {
      min-width: 38%;
      background-color: $selectBg;
      .Select-control {
        height: 100%;
      }
      .select__options {
        height: 45px;
        line-height: 45px;
        &:before {
          width: 82%;
          left: 9%;
        }
        &:hover:before {
          display: none;
        }
        &:hover + .select__options:before {
          opacity: 0;
        }
      }
    }
  }
  &__room {
    height: 100%;
    padding: 0 20% 0 4%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span:last-child {
      color: $green;
      &.empty {
        color: #e91717;
      }
    }
  }
  &__textarea {
    padding: 30px 20px 20px 20px;
    input {
      width: 100%;
      color: #fff;
      font-size: 16px;
      height: 60px;
      overflow: hidden;
      resize: none;
      padding: 20px;
      margin-bottom: 10px;
      font-weight: 400;
      font-family: $ra;
      background-color: #1a1b26;
      border: 1px solid $border;
    }
  }
  .loader svg {
    width: 200px;
  }
}