.faq {
  .page-container {
    max-width: 980px;
    margin-top: 4rem;
  }
  &__item {
    margin-bottom: 1px;
    background-color: $navBg;
    transition: 1s ease-out all;
    &:hover {
      background-color: $contentBg;
      .faq__header {
        &:before,
        &:after {
          background-color: $main;
        }
      }
    }
    &-active {
      background-color: $contentBg;
      &:hover {
        background-color: $contentBg;
      }
      .faq__header {
        &:before {
          transform: rotate(90deg) scale(0);
        }
        &:after {
          transform: rotate(180deg);
        }
      }
      .faq__content {
        max-height: 1000px;
      }
    }
  }
  &__header {
    min-height: 88px;
    font-size: 2.4rem;
    position: relative;
    cursor: pointer;
    padding: 1rem 6rem 1rem 2rem;
    display: flex;
    align-items: center;
    &:before,
    &:after {
      content: '';
      display: block;
      background-color: #fff;
      position: absolute;
      top: 50%;
      width: 2.2rem;
      right: 25px;
      height: 2px;
      transition: .2s ease all;
    }
    &:after {
      transform: rotate(90deg);
    }
  }
  &__content {
    color: $contentText;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 300;
    overflow: hidden;
    max-height: 0;
    transition: 1s ease-out all;
    p {
      padding: 2rem;
    }
  }
}