.roulette {
  min-width: 67.84%;
  flex-basis: 67.84%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rLobby {
  min-width: 52.5%;
  flex-basis: 52.5%;
  &__buttons {
    padding: 2rem 0 2.2rem;
    .button {
      height: 57px;
      display: inline-block;
      width: calc(33.33% - 13.33px);
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  &__history {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 15px 1px;
    .history__item {
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &.green {
        background-color: $green;
      }
      &.pink {
        background-color: $pink;
      }
      &.gray {
        background-color: $headerBg;
      }
    }
  }
  &__bet {
    background-color: $navBg;
    font-size: 1.8rem;
    padding-bottom: 14px;
    h3 {
      text-align: center;
      padding: 1.5rem 0 1.8rem;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        width: 33.33%;
        min-width: 33.33%;
        flex-basis: 33.33%;
        text-align: center;
        &:not(:first-child) {
          border-left: 1px solid $selectBg;
        }
      }
    }
    .color {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0 auto 6px;
      &.pink {
        background-color: $pink;
      }
      &.green {
        background-color: $green;
      }
      &.gray {
        background-color: $headerBg;
      }
    }
    i {
      color: $main;
      margin-right: 10px;
      font-size: 15px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.rWheel {
  min-width: 46.66%;
  flex-basis: 46.66%;
}

.rBets {
  min-width: 100%;
  flex-basis: 100%;
  margin-top: 2rem;
  &__header {
    height: 5.6rem;
    background-color: $navBg;
    padding: 0 2rem 0 2.2rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 15px;
      margin: 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-family: $robotoC;
    }
    + div {
      background-color: $contentBg;
    }
  }
  &__wrapper {
    width: calc(33.33% - 13.33px);
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &-color1 {
      border-top: 10px solid $rouletteColor1;
    }
    &-color2 {
      border-top: 10px solid $rouletteColor2;
    }
    &-color3 {
      border-top: 10px solid $rouletteColor3;
    }
  }
  &__item {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    .avatar {
      min-width: 40px;
      height: 40px;
    }
    &:after {
      content: '';
      width: calc(100% - 4rem);
      height: 1px;
      bottom: 0;
      left: 2rem;
      position: absolute;
      background-color: $selectBg;
      opacity: 1;
      transition: .1s ease all;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    .user__level {
      margin: 0 10px;
    }
    i {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
    &.active {
      border-top: none;
      background-color: $selectBg;
      &:after {
        opacity: 0;
      }
      + .rBets__item {
        &:after {
          opacity: 0;
        }
      }
    }
  }
}