.shop {
  min-width: 69%;
  flex-basis: 69%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.8rem;
    padding-right: 20px;
  }
  &__input {
    min-width: 39%;
    flex-basis: 39%;
    height: 5.7rem;
    position: relative;
    background-color: $navBg;
    border: 1px solid #575c63;
    + div {
      min-width: 60%;
      flex-basis: 60%;
      text-align: right;
    }
    input {
      color: #fff;
      height: 100%;
      width: 100%;
      padding: 0 1.5rem;
      background: transparent;
      border: none;
      position: relative;
      z-index: 2;
    }
    i {
      position: absolute;
      top: 50%;
      right: 1.5rem;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
  &__container {
    .weapon__item {
      display: inline-block;
      width: calc(20% - 1.6rem);
      padding-bottom: calc(20% - 1.6rem);
      margin-right: 2rem;
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }
  .button {
    font-size: 1.6rem;
    background-color: $navBg;
    padding: 0 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    &:hover,
    &:focus {
      background-color: darken($navBg, 15);
    }
  }
  .button + .button {
    margin-left: 2rem;
  }
  .button-price {
    max-width: 100px;
    .arrow-icon {
      right: -5px;
    }
  }
  .button-refresh {
    max-width: 220px;
    i {
      font-size: 2rem;
      margin-right: 1rem;
      display: inline-block;
      vertical-align: middle;
      transform-origin: unset;
      transition: .4s  all;
    }
    .items {
      color: $contentText;
      font-weight: 300;
    }
    &:hover {
      i {
        transform: rotate(-360deg);
      }
    }
  }
}