.cGame {
  background-color: $navBg;
  &__header {
    color: $contentText;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    span {
      color: #fff;
      font-family: $robotoC;
    }
    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__graph {
    position: relative;
  }
}