.cHistory {
  padding: 1.5rem 0;
  background-color: $headerBg;
  min-width: 45.7%;
  flex-basis: 45.7%;
  &__header,
  &__item,
  &__irem-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item,
  &__irem-header {
    div {
      min-width: 20%;
      max-width: 20%;
      flex-basis: 20%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 5%;
      text-align: right;
    }
    .name {
      min-width: 40%;
      max-width: 40%;
      flex-basis: 40%;
      padding-right: 0;
      text-align: left;
    }
  }
  &__header {
    padding: 0 2rem;
    font-size: 1.8rem;
    letter-spacing: .5px;
    .players {
      color: $contentText;
      font-weight: 300;
      span {
        color: #fff;
      }
    }
    .bets {
      font-family: $robotoC;
      i {
        margin: 0 7px;
        display: inline-block;
        vertical-align: text-top;
        font-size: 1.5rem;
      }
    }
  }
  &__table {
    padding: 1rem 0;
  }
  &__item {
    height: 40px;
    padding-left: 2rem;
    &-good {
      color: $pink;
    }
    &-bad {
      color: $green;
    }
    .avatar {
      width: 25px;
      min-width: 25px;
      height: 25px;
      margin-right: 5px;
    }
  }
  &__item-header {
    height: 57px;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 2rem;
    padding-left: 0;
    border-bottom: 1px solid $contentBg;
  }
}