.cHistory {
  padding: 2rem 0;
  background-color: $headerBg;
  min-width: 46.66%;
  flex-basis: 46.66%;
  + div {
    min-width: 52.5%;
    flex-basis: 52.5%;
  }
  &__header,
  &__item,
  &__irem-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item,
  &__irem-header {
    div {
      min-width: 20%;
      max-width: 20%;
      flex-basis: 20%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .name {
      min-width: 40%;
      max-width: 40%;
      flex-basis: 40%;
    }
  }
  &__header {
    padding: 0 2rem;
    .players {
      color: $contentText;
      font-weight: 300;
      span {
        color: #fff;
      }
    }
    .bets {
      font-family: $robotoC;
      i {
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &__table {
    padding: 2rem 0;
  }
  &__item {
    height: 40px;
    padding-left: 2rem;
    &-good {
      color: $pink;
    }
    &-bad {
      color: $green;
    }
    .avatar {
      width: 25px;
      min-width: 25px;
      height: 25px;
    }
  }
  &__item-header {
    height: 60px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0 2rem;
    border-bottom: 1px solid $contentBg;
  }
}