@media (max-width: 1780px) {
  .container {
    max-width: 1300px;
  }
  html,
  body{
    font-size: 9px !important;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  html,
  body{
    font-size: 8px !important;
  }
}

@media (max-width: $tablet) {
  .fix-scroll-margin > div > div {
    margin-right: 0 !important;
  }
}

@media (max-width: $mobile) {
  .container {
    max-width: 576px;
    padding: 0 10px;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: block !important;
  }
}

@media (max-width: $smallMobile) {
  .page-header {
    font-size: 2.5rem;
    padding: 1.5rem 0;
  }
}