@media (max-width: $tablet) {
  .crash {
    min-width: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: $mobile) {
  .crash {
    display: block;
  }
  .cLobby {
    margin-bottom: 2rem;
  }
}

@media (max-width: $smallMobile) {
  .cGame__graph {
    min-height: 150px;
  }
}