@media (max-width: 1400px) {
  .shop {
    .button,
    .select {
      max-width: 30%;
      margin: 0 3% 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

@media (max-width: $tablet) {
  .shop {
    &__container {
      .weapon__item {
        width: calc(33.33% - 1.333rem);
        padding-bottom: calc(33.33% - 1.33rem);
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(5n) {
          margin-right: 2rem;
        }
      }
    }
    &__input {
      + div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .button-refresh {
      font-size: 0;
      span {
        display: block;
        min-width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .shop {
    min-width: 100%;
    flex-basis: 100%;
    &__header {
      display: block;
    }
    &__input {
      margin-bottom: 1rem;
    }
    &__container {
      .weapon__item {
        width: calc(50% - 1rem);
        padding-bottom: calc(50% - 1rem);
        &:nth-child(3n) {
          margin-right: 2rem;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}