.rWheel {
  min-width: 46.66%;
  flex-basis: 46.66%;
  &__wrapper {
    margin-top: 40px;
    width: 84%;
    padding-bottom: 84%;
    position: relative;
    > object:not(.rWheel__pointer) {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &-waiting {
      .rWheel__pointer {
        opacity: 0;
      }
      .rWheel__timer-data {
        opacity: 1;
      }
    }
    &-gamble {
      .rWheel__gamble {
        opacity: 1;
      }
    }
    &-winner {
      .rWheel__winner-color1 {
        opacity: 1;
        background-color: $rouletteColor1;
      }
      .rWheel__winner-color2 {
        opacity: 1;
        background-color: $rouletteColor2;
      }
      .rWheel__winner-color3 {
        opacity: 1;
        background-color: $rouletteColor3;
      }
    }
  }
  &__pointer {
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translateX(-50%);
    z-index: 10;
  }
  &__timer {
    position: absolute;
    width: 79%;
    height: 79%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1, 1) rotate(90deg);
  }
  &__timer-data,
  &__gamble,
  &__winner {
    color: #fff;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    line-height: 50%;
    font-family: $robotoC;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    transition: .2s ease all;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__timer-data {
    font-size: 100.87px;
  }
  &__gamble {
    font-size: 50.43px;
  }
  &__winner {
    font-size: 100.87px;
    border-radius: 50%;
  }
}