.rWheel {
  min-width: 46.66%;
  flex-basis: 46.66%;
  &__wrapper {
    margin-top: 40px;
    width: 84%;
    padding-bottom: 84%;
    position: relative;
    .rWheel__winner-color1,
    .rWheel__winner-color2,
    .rWheel__winner-color3 {
      font-size: 5.3vw;
      border-radius: 50%;
    }
    .rWheel__winner-color1 {
      background-color: $rouletteColor1;
    }
    .rWheel__winner-color2 {
      background-color: $rouletteColor2;
    }
    .rWheel__winner-color3 {
      background-color: $rouletteColor3;
    }
  }
  &__roulette {
    transform: rotate(0deg);
    transition: 7s ease all;
  }
  &__roulette-winner,
  &__roulette {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('/static/images/roulette.png');
  }
  &__roulette-winner {
    z-index: 3;
    background-image: url('/static/images/roulette-win.png');
    &.hide {
      opacity: 0;
    }
  }
  &__pointer {
    width: 35px;
    height: 60px;
    left: calc(50% - 17.5px);
    top: 14%;
    z-index: 10;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/static/images/roulette-pointer.png');
    transition: .2s ease-in all;
    &.move {
      top: 11%;
    }
  }
  &__timer {
    position: absolute;
    width: 79%;
    height: 79%;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%) scale(-1, 1) rotate(90deg);
  }
  &__timer-data,
  &__gamble,
  &__winner {
    color: #fff;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    font-family: $robotoC;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translate(-50%, -50%) scale(0.2);
    transition: .5s ease all;
    &.zoom {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &__timer-data {
    font-size: 5.3vw;
  }
  &__gamble {
    font-size: 2.7vw;
  }
  circle {
    transition: 1s ease all;
  }
}