.rLobby {
  min-width: 52.5%;
  flex-basis: 52.5%;
  &__buttons {
    padding: 2rem 0 2.2rem;
    .button {
      height: 5.7rem;
      display: inline-block;
      width: calc(33.33% - 1.333rem);
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__history {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0 1.5rem 1px;
    .history__item {
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &-color1 {
        background-color: $rouletteColor1;
      }
      &-color2 {
        background-color: $rouletteColor2;
      }
      &-color3 {
        background-color: $rouletteColor3;
      }
    }
  }
  &__bet {
    background-color: $navBg;
    font-size: 1.8rem;
    padding-bottom: 1.4rem;
    h3 {
      text-align: center;
      padding: 1.5rem 0 1.8rem;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      > div {
        width: 33.33%;
        min-width: 33.33%;
        flex-basis: 33.33%;
        text-align: center;
        &:not(:first-child) {
          border-left: 1px solid $selectBg;
        }
      }
    }
    .color {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0 auto 6px;
      &-1 {
        background-color: $rouletteColor1;
      }
      &-2 {
        background-color: $rouletteColor2;
      }
      &-3 {
        background-color: $rouletteColor3;
      }
    }
    i {
      color: $main;
      margin-right: 1rem;
      font-size: 1.5rem;
      display: inline-block;
      vertical-align: middle;
    }
  }
}