//Fons (need add 300, 400, 500, 600 for Light, Regular, Medium and SemiBold)
$roboto: 'Roboto', sans-serif;
$robotoC: 'Roboto Condensed', sans-serif;

// Colors
$main: #ff7900;
$pink: #e22b57;
$green: #26b577;
$moderatorColor: #00fff6;

$rouletteColor1: #e22b57;
$rouletteColor2: #26b577;
$rouletteColor3: #2b2f34;

$contentText: #a4adba;

// level colors
$level1: #444fb6;
$level2: #8f35e3;
$level3: #db1685;
$level4: #e91717;
$level5: #d39e2c;
$levelColors: $level1, $level2, $level3, $level4, $level5;

$level1-fire: #6076e2;
$level2-fire: #ae76ff;
$level3-fire: #ff5fbe;
$level4-fire: #ff6464;
$level5-fire: #ffd345;
$levelFireColors: $level1-fire, $level2-fire, $level3-fire, $level4-fire, $level5-fire;

// Background
$bodyBg: #272a2f;
$headerBg: #2b2f34;
$navBg: #3a3f46;
$contentBg: #4e5359;
$selectBg: #6b717a;

$coin: url('./static/images/icon-chip.png');

// Breakpoints
$tablet: 992px;
$mobile: 768px;
$smallMobile: 410px;