//Fons (need add 400, 500, 600 for Regular, Medium and SemiBold)
$ra: 'Rajdhani', sans-serif;
$roboto: 'Roboto', sans-serif;
$robotoC: 'Roboto Condensed', sans-serif;

// Colors
$main: #ff7900;
$pink: #e22b57;
$green: #26b577;
$moderatorColor: #00fff6;

$contentText: #a4adba;

// level colors
$level1: #444fb6;
$level2: #8f35e3;
$level3: #db1685;
$level4: #e91717;
$level5: #d39e2c;
$levelColors: $level1, $level2, $level3, $level4, $level5;

$level1-fire: #6076e2;
$level2-fire: #ae76ff;
$level3-fire: #ff5fbe;
$level4-fire: #ff6464;
$level5-fire: #ffd345;
$levelFireColors: $level1-fire, $level2-fire, $level3-fire, $level4-fire, $level5-fire;

// Background
$bodyBg: #272a2f;
$headerBg: #2b2f34;
$navBg: #3a3f46;
$contentBg: #4e5359;
$selectBg: #6b717a;

$coin: url('./static/images/icon-chip.png');

// Colors
$green: #44b982;
$greenLight: #53d797;
$pink: #e45484;
$pinkLight: #ff78a5;
$border: #2f3144;

// Bg
$mainBg: #181a24;
$modalBg: #1a1c27;
$colBg: rgba(22, 23, 32, .5);
$invBg: rgba(22, 23, 32, .8);

